<p>users works!</p>

<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">First name:</label> <input [(ngModel)]="newUser.fname" type="text"><br><br>
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Last name:</label> <input [(ngModel)]="newUser.lname" type="text"><br><br>
  </div>
  
  <button class="btn btn-success" (click)="createUsers()">Add users</button><br><br>
  <button class="btn btn-success" (click)="getUsers()">Get users</button><br>
  <ul>
      @for (user of users; track user._id){
    <li>{{user.fname}} {{user.lname}} <button (click)="deleteUsers(user._id)">Delete</button></li> 
  }@empty {
    <span>List of users</span>
  }
  </ul>
